.fbn-ui-SystemIndex .nav-item.dropdown.notifications 
.dropdown-toggle::after{
     display:none !important;
    }
.fbn-ui-SystemIndex .nav-item.dropdown.user-info{
     margin-left:15px;margin-right:15px
    }
.fbn-ui-SystemIndex .iframe-navbar{
        font-size:1.2em
    }
.fbn-ui-SystemIndex .iframe-navbar ul.navbar-nav li{
     display:none
    }
.fbn-ui-SystemIndex .iframe-navbar ul.navbar-nav li:last-child{
     display:list-item
    }
.fbn-ui-SystemIndex .iframe-navbar ul.navbar-nav li:first-child a:first-child{
    display:none
}
.fbn-ui-SystemIndex .main-sidebar{
    background:#162f61
}
.fbn-ui-SystemIndex .main-sidebar .brand-link{
    width:auto;
    background:#fff;
    margin:15px 15px 15px 15px;
    border-radius:8px
}
.fbn-ui-SystemIndex .main-sidebar .brand-link img{
    float:none;
    width:100%;
    height:auto;
    max-height:100%;
    margin:0;
    box-shadow:none !important
}
.fbn-ui-SystemIndex .main-sidebar .brand-link span{
    display:block;
    white-space:normal;
    color:#000;
    font-size:.95em;
    font-weight:bold !important;
    line-height:18px;
    padding:0 10px
}
.fbn-ui-SystemIndex .main-sidebar .sidebar{
    margin-top:25px;
    padding-left:15px;
    padding-right:15px;
    height:calc(100vh - 260px)
}
.fbn-ui-SystemIndex .main-sidebar 
.sidebar nav>ul:first-child>li>a{
    padding-left:5px
}
.fbn-ui-SystemIndex .main-sidebar .sidebar nav i.right{
    margin-right:-5px
}
.fbn-ui-SystemIndex .main-sidebar .sidebar nav a.nav-link{
    width:auto
}
.fbn-ui-SystemIndex .main-sidebar .sidebar .form-inline input{
    background-color:rgba(0,0,0,0)
}
.fbn-ui-SystemIndex .main-sidebar .sidebar .form-inline .btn-sidebar{
    background-color:#0d1b37;
    color:#fff
}
.fbn-ui-SystemIndex .main-sidebar .sidebar .nav li a{
    color:#fff
}
.fbn-ui-SystemIndex .main-sidebar .nav-treeview{
    padding-left:.5em
}

#timeline{
    width:500px!important;
}

.content h3.card-title{
    display: block !important;
}


  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }

  .login-content{
    background-color:#E7E6E6;
  }
  
   .btn-primary{
    border: none !important;
    border-color: none !important;
  }
 /* .btn-primary:hover{
    background-color:#1c46d1 !important;
    border-color: #1c46d1 !important;
  } */

/* WEBCAM CSS */
#my_camera{
  width: 200px;
  height: 150px;
  border: 1px solid #000;
}
.camera-primary{
  color: #ffffff;
  background-color: #0D6EFD;
  width: 75px !important;
  height: 25px !important;
  font-size: 10px;
  /* margin-left: 20px; */
}


.btn-secondary {
    background-color: #162F61;
    border-color: #162F61;
}


/* Loading Modal Css */
#myModal {
    background: #d6d6dc;
    font-family: 'Titillium Web', sans-serif;
    height: 120px;
}
.loading {
    position: relative;
    left: 0;
    right: 0;
    top: 30%;
    width: 100%;
    text-align:center;
    color: #FFF;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
}
.loading p{
  color: #030338;
  font-size: 15px;
  font-weight: 550;
}
.loading span {
    position: absolute;
    height: 20px;
    width: 100%;
    top: 45px;
    overflow: hidden;
}
.loading span > i {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 5px;
    border-radius: 50%;
    -webkit-animation: wait 4s infinite;
    -moz-animation: wait 4s infinite;
    -o-animation: wait 4s infinite;
    animation: wait 4s infinite;
    text-align: center;
}
.loading span > i:nth-of-type(1) {
    left: -28;
    /* -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; */
    background: #ff0000;
}
.loading span > i:nth-of-type(2) {
    left: -13;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: #0000ff;
} 


@-webkit-keyframes wait {
    0%   { left: -10px  }
    30%  { left: 120px  }
    60%  { left: 55px  }
    100% { left: 300px }
}
@-moz-keyframes wait {
    0%   { left: -10px  }
    30%  { left: 92px  }
    60%  { left: 55px  }
    100% { left: 300px }
}
@-o-keyframes wait {
    0%   { left: -10px  }
    30%  { left: 120px  }
    60%  { left: 55px  }
    100% { left: 300px }
}
@keyframes wait {
    0%   { left: -10px  }
    30%  { left: 120px  }
    60%  { left: 55px  }
    100% { left: 300px }
}

.fbn-ui-SystemIndex .select-file-header{
    background-color: #CCCCFF !important;
    color:#000 !important;
    font-weight:bold !important;
}

.fbn-ui-SystemIndex .webcam-capture-header {
    background-color: #0B5345 !important;
    font-weight:bold !important;
}
.fbn-ui-SystemIndex #my_camera{
    width: 200px;
    height: 150px;
    border: 1px solid rgb(203, 203, 203);
}
.fbn-ui-SystemIndex .btn-configure{
    color: #fff;
    background-color: #900C3F;
    border:none;
}
.fbn-ui-SystemIndex .btn-capture{
    color: #fff;
    background-color: #0B5345;
    border:none;
}
.fbn-ui-SystemIndex #selectImage,#results span{
    font-size: 13px;
}
.fbn-ui-SystemIndex .dropdown-color{
    color: #000 !important;
}
.fbn-ui-SystemIndex .dropdown-color:hover{
    color: #fff !important;
    background-color: #007bff !important;
}

.profile-user-img {
    width: 270px !important;
}

.birthday{
    margin-top: 70px;
}


.logo-image {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px
}



